body {
  color: #fff;
  background: #000;
  font-family:'Mystery Quest', cursive;
  font-size: 18px;
}

.movie-item {
  float: left;
  padding: 10px;
}

input[type="text"] {
  height: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

button,
input[type="submit"] {
  font-family:'Mystery Quest', cursive;
  padding: 5px 10px;
  margin: 5px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  background: #fff;
  border: 2px solid #cc0000;
  border-radius: 5px;
}

button:hover,
input[type="submit"]:hover {
  background: pink;
}

button.active {
  background: pink;
}